$narrow-container-width: 1440px;
$layout-container-width: 1440px;
$default-container-width: 1440px;
$primary-color: #1aa09c;
$secondary-color: #f06292;
$tertiary-color: #f8bbd0;
$text-color: #1e185b16441a;
$background-color: #99999900 !important;
$light-gray: #f2f2f2;
$narrow-container-width: 940px;
$layout-container-width: 940px;
$default-container-width: 940px;
:root {
  --primary-color: #1aa09c !important;
  --secondary-color: #f06292;
  --tertiary-color: #f8bbd0;
  --text-color: #5b1644;
  --background-color: #ffffff00 !important;
  --light-gray: #f2f2f2;
  --narrow-container-width: 1440px;
  --layout-container-width: 1440px;
  --default-container-width: 1440px;
}
