$narrow-container-width: 1440px;
$layout-container-width: 1440px;
$default-container-width: 1440px;

:root {
  --narrow-container-width: 1440px;
  --layout-container-width: 1440px;
  --default-container-width: 1440px;
}
